<tr scope="row"> 
  <td><%= link_to book.title.truncate(15), book, class: "btn btn-light btn-info", style: "width: 15rem;"%></td>
  <td><%= book.description.truncate(20) %></td>
  <td><%= book.number_of_copies %></td>