<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="<%= books_path %>">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link disabled" href="<%= orders_path %>">History</a>
        </li>
        <li class="nav-item">
          <%= render 'layouts/google.html.erb' %>
        </li>
      </ul>
      <% if current_user %>
        <p style="float: right;">
          Signed in as
          <strong><%= current_user.name %></strong>!
        </p>
      <% end %>
    </div>
  </div>
</div>